body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 40px;
}
h2 {
  width: 95%;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;

}

.calculator {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(1, 1, 1, 0.2);
}
.calculator div h3 {
  font-size: small;
  font-variant: unset;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 20%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 12px;
}

button:hover {
  background-color: #0056b3;
}

#hasil {
  display: none;
  margin-top: 20px;
}

#hasil p {
  margin: 10px 0;
}
.tab {
  display: none;
}

.active-tab {
  display: block;
}

.calculator .tab div .rumus-title {
  font-size: small;
  text-align: left;
}

.calculator .tab div .rumus {
  font-size: 14px;
  background: none;
  color: #000000;
  text-align: center;
  margin: 1%;
}

.calculator .tab div p {
  text-align: left;
  font-size: small;
  margin: 1%;
}

#hasilKeliling,
#hasilLuas {
  display: none;
}
